*~*
*#*
__*__
.*
*.exe
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles/
HIDE/
tests/cmake-bridge.cfg
tests/lit.site.cfg
tests/cmake/
tests.unit/GMock-prefix/
tests.unit/gmock/
tests.unit/googletest/
tests.unit/interline_memory
tests.unit/*.cmake